@layer preflight, main;

@import "_preflight.css" layer(preflight);

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

@layer main {
  :root {
    --deep-violet: #21092f;
    --light-grey: #dfdee0;
    --red: #ff5050;
    --purplish-grey: #8f8694;

    background-color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
  }

  main {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
  }

  .container--cards {
    position: relative;
    height: 28.3rem;
  }

  picture > img {
    height: 24rem;
    width: 100%;
  }

  div[class^="container--card--"] {
    position: absolute;
    width: 28.6rem;
    height: 15.7rem;
    background-size: contain;
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.1286rem;
    left: 50%;
  }

  .container--card--back {
    top: 3.2rem;
    transform: translateX(calc(-50% + 2.8rem));
    background-image: url(/bg-card-back.png);
  }

  .container--card--back > span {
    position: absolute;
    top: 45%;
    right: 3.7rem;
  }

  .container--card--front {
    top: 12.64rem;
    transform: translateX(calc(-50% - 2.9rem));
    background-image: url(/bg-card-front.png);
    padding: 2rem;
    display: grid;
    grid-template: 3rem 1fr 1.1rem / repeat(2, minmax(0, 1fr));
    row-gap: 1.7rem;
  }

  .container--card--front > * {
    display: grid;
    align-items: end;
  }

  .front__logo {
    height: 100%;
    grid-column: span 2 / span 2;
  }

  .front__number {
    grid-column: span 2 / span 2;
    font-size: 1.8rem;
    letter-spacing: 0.22rem;
  }

  .front__owner {
    text-transform: uppercase;
  }

  .front__date {
    text-align: right;
  }

  .form {
    width: 37.5rem;
    margin: auto;
    padding-inline: 2.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .form__group {
    display: flex;
    flex-direction: column;
    row-gap: 0.9rem;
    color: var(--deep-violet);
  }

  .form__group label {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }

  .form__group input {
    font-size: 1.8rem;
    padding: 1.1rem 0 1.1rem 1.6rem;
    border-radius: 0.8rem;
    border: 1px solid var(--light-grey);
  }

  input::placeholder {
    opacity: 0.25;
  }

  input:invalid,
  input.invalid {
    border-color: var(--red);
  }

  input:invalid ~ span,
  input.invalid ~ span {
    display: block;
  }

  .form__group span {
    display: none;
    font-size: 1.2rem;
    color: var(--red);
  }

  .form > div:not(.form__group) {
    display: flex;
    column-gap: 1.1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form > div:not(.form__group) > .form__group {
    width: calc(50% - 0.55rem);
  }

  .form > div:not(.form__group) > .form__group:first-of-type {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 0.8rem;
  }

  .form > div:not(.form__group) > .form__group:first-of-type > label {
    grid-column: span 2 / span 2;
  }

  main button {
    color: white;
    font-size: 1.8rem;
    padding-block: 1.5rem;
    background-color: var(--deep-violet);
    border-radius: 0.8rem;
  }

  .form__cta {
    margin-top: 0.8rem;
  }

  .container--post {
    display: none;
    margin: auto;
    padding-inline: 2.4rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 37.5rem;
  }

  main.post .container--post {
    display: flex;
  }

  main.post .form {
    display: none;
  }

  .container--post img {
    width: 8rem;
    height: 8rem;
  }

  main h2 {
    margin-top: 3.5rem;
    color: var(--deep-violet);
    font-size: 2.8rem;
    letter-spacing: 0.3422rem;
    text-transform: uppercase;
  }

  .container--post span {
    margin-top: 1.6rem;
    color: var(--purplish-grey);
    font-size: 1.8rem;
  }

  .container--post button {
    margin-top: 4.8rem;
    align-self: stretch;
  }

  @media screen and (min-width: 1440px) {
    main {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .container--cards {
      height: unset;
    }

    picture {
      display: block;
      height: 100%;
    }

    picture > img {
      height: 100%;
      width: 48.3rem;
    }

    div[class^="container--card--"] {
      width: 44.7rem;
      height: 24.5rem;
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      top: 50%;
    }

    div.container--card--back {
      left: 25.8rem;
      transform: translateY(calc(-50% + 12.55rem));
      background-image: url(/bg-card-back.png);
    }

    .container--card--back > span {
      right: 5.7rem;
    }

    div.container--card--front {
      left: 16.4rem;
      transform: translateY(calc(-50% - 15.35rem));
      background-image: url(/bg-card-front.png);
      padding: 3rem;
      grid-template-rows: 4.7rem 1fr 1.8rem;
      row-gap: 2.55rem;
    }

    .front__number {
      font-size: 2.8rem;
      letter-spacing: 0.3422rem;
    }

    .form {
      width: 38.1rem;
      padding-inline: unset;
      row-gap: 2.6rem;
    }

    .form > div:not(.form__group) {
      column-gap: 2rem;
    }

    .form > div:not(.form__group) > .form__group {
      width: calc(50% - 1rem);
    }

    .form > div:not(.form__group) > .form__group:first-of-type {
      column-gap: 1rem;
    }

    .form__cta {
      margin-top: 1.4rem;
    }

    .container--post {
      padding-inline: unset;
      width: 38.1rem;
    }
  }
}
